.bungee-shade-regular {
   font-family: 'Bungee Shade', Arial, Helvetica, sans-serif;
   font-weight: 400;
   font-style: normal;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   overflow-x: hidden;
}

:root {
   --main-bg-color: rgb(12, 6, 6);
   --blue: rgb(14, 28, 221);
   --purple: rgba(114, 47, 158, 0.664);
}

body {
   background: linear-gradient(
      80deg,
      var(--blue),
      var(--purple),
      rgba(24, 89, 211, 0.616),
      var(--purple),
      rgb(245, 144, 149)
   );
   width: auto;
   background-size: 300% 500%;
   animation: move 9s ease-in-out infinite;
   display: grid;
   grid-template-columns: 6fr 2fr;
   grid-template-rows: 1fr;
}

.black {
   background-color: var(--main-bg-color);
   grid-area: 1 / 1 / 2 / 3;
   animation: black 3s 0.2s ease-in-out;
   animation-fill-mode: forwards;
   pointer-events: none;
   z-index: 1;
}

@keyframes black {
   10% {
      background-color: var(--main-bg-color);
   }
   100% {
      background-color: rgba(12, 6, 6, 0);
   }
}
@keyframes move {
   0% {
      background-position: 0% 0%;
   }
   50% {
      background-position: 100% 100%;
   }
   100% {
      background-position: 0% 0%;
   }
}
@keyframes form {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
@keyframes canvas {
   0% {
      height: 20vh;
   }
   100% {
      height: 10vh;
   }
}
main {
   grid-area: 1 / 1 / 2 / 2;
   min-height: 100vh;
   z-index: 2;
   display: flex;
   flex-direction: column;
}

form {
   height: fit-content;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   font-family: 'Courier New', Courier, monospace;
   font-size: 16px;
   color: #ffffff;
   text-shadow: #ffffff3d 1px 1px 1px;
   background-color: var(--main-bg-color);
}

.coll {
   opacity: 0;
   width: 50%;
   padding: 10px;
   animation: form 3s ease-in forwards;
   animation-delay: 800ms;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

select {
   min-width: 100px;
}

canvas {
   position: relative;
   width: 100%;
   height: 20vh;
   display: block;
   animation: canvas 2s ease-in forwards;
}

section {
   grid-area: 1 / 2 / 2 / 3;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
}

.ConfInput {
   width: 80%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   margin-top: 8px;
   margin-bottom: 3px;
}

span {
   display: block;
   font-size: small;
   width: 100%;
   text-align: center;
   opacity: 0.5;
}

#git {
   display: flex;
   width: 100%;
   height: fit-content;
   align-items: center;
   justify-content: center;
   background-color: var(--main-bg-color);
   flex-grow: 1;
}

#gitimg {
   opacity: 0;
   position: relative;
   height: 8vh;
   animation: form 2s ease-in forwards;
   animation-delay: 1000ms;
   transition-duration: 0.7s;
}

a {
   text-decoration: none;
   color: var(--blue);
}

select,
textarea,
input[type='text'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='number'] {
   color: #011f27;
   background-color: #c5c5c5;
   border: 2px solid #011f27;
   padding: 10px;
   font-size: 13px;
   height: 40%;
   border-radius: 4px;
}

select,
textarea,
input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='url']:focus,
input[type='number']:focus {
   background-color: #e4e4e4;
   border-color: hsl(265, 89%, 11%);
   outline: none;
}

#oaiUserDef {
   width: 100%;
   height: 15vh;
   resize: none;
}

select {
   padding: 0;
   height: 100%;
}
